body {
  font-family: 'Open Sans', sans-serif;
  color: #191919;
}
a {
  text-decoration: none;
  color: #191919;
}
h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
}
/* HEADER STYLE */

header {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 25px;
}
.logo {
  margin-top: 30px;
}

nav {
  padding: 25px  0;
  background-color: #3498db;
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #34495e;
  border-top: 5px solid #34495e;
}
nav ul li{
  display: inline-block;
  padding-right: 20px;
  padding-left: 5px;
  text-transform: uppercase;
}

nav a {
  color: #fff;
}

/** MAIN **/

/** FOOTER **/

footer {
  text-align: center;
  text-transform: uppercase;
}
